{% extends 'base.html.twig' %}

{% block title %}OXY TEST Registration{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<p>{{ message }}</p>


 <a href="{{ path('index') }}" class="btn btn-info">Register another user</a>       
 <a href="{{ path('all_users') }}" class="btn btn-success">Display all registered user</a>

{% endblock %}
   
