{% extends 'base.html.twig' %}

{% block title %}OXY TEST Registration Form{% endblock %}

{% block body %}

	<h1>Welcome to OXY TEST Registration form</h1>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>


 <a href="{{ url('all_users') }}" class="btn btn-success">Display all registered user</a>

{% endblock %}
