{% extends 'base.html.twig' %}

{% block title %}OXY TEST registered users{% endblock %}

{% block body %}

<h1>List of registered users</h1>

{% if users %}
<table class="table listOfUsers">
	<thead class="thead-dark">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Email</th>
	    </tr>
	</thead>
	<tbody>
		{% for u in users %}
		<tr>
			<td>{{ u.id }}</td>
		    <td>{{ u.userName }}</td>
		    <td>{{ u.email }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>no user registered yet</p>
{% endif %}

 <a href="{{ path('index') }}" class="btn btn-info">Register another user</a>       
{% endblock %}

       
